<!DOCTYPE html>
<html>
<head>
    <title>disease</title>
    <link rel="stylesheet" href="static\stylesheet\index1.css">
    
</head>
<body>
    <div>
        <link href="./mac-book-air1.css" rel="stylesheet" />
        <div>
          <div class="mac-book-air1-mac-book-air1">
            <div class="mac-book-air1-group8">
              <img
                alt="image118"
                src="static/images/background1.jpg"
                class="mac-book-air1-image1"
              />
            </div>
            <div class="mac-book-air1-group6">
              <span class="mac-book-air1-text"><span>FarmExpert</span></span>
              <img
                alt="IMAGE47066removebgpreview1435"
                src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/10d8079f-9d5d-4273-aa7d-01f1409b58ce/4deb7cf5-6c92-42b0-9ea0-09f794b4746a?org_if_sml=17626"
                class="mac-book-air1-image47066removebgpreview1"
              />
              <span class="mac-book-air1-text02">
                <span>
                  Plant Disease Detection is used to detect the Unhealthy Realidon of
                  Plants &amp; Classify the Leaf
                </span>
              </span>
              <div class="mac-book-air1-container1">
                <img
                  alt="Rectangle1529"
                  src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/10d8079f-9d5d-4273-aa7d-01f1409b58ce/1599fc35-76e6-468f-bae8-5492953cd565?org_if_sml=11057"
                  class="mac-book-air1-rectangle1"
                />
                <span class="mac-book-air1-text04"><span>Start</span></span>
              </div>
            </div>
            <div class="mac-book-air1-group7">
              <img
                alt="IMAGE47066removebgpreview2531"
                src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/10d8079f-9d5d-4273-aa7d-01f1409b58ce/42c68a6a-00c8-42d9-ab8c-8e0c77e01aad?org_if_sml=13064"
                class="mac-book-air1-image47066removebgpreview2"
              />
              <span class="mac-book-air1-text06"><span>PDD</span></span>
              <span class="mac-book-air1-text08"><span>Home</span></span>
              <span class="mac-book-air1-text10"><span>About</span></span>
              <span class="mac-book-air1-text12"><span>Help</span></span>
            </div>
          </div>
        </div>
      </div>
      
</body>
</html>