<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>disease</title>
    <link href="static/stylesheet/test.css" rel="stylesheet" />
    <style>
        @media only screen and (max-width: 768px) {
            /* Styles for screens less than or equal to 768px wide */
            .page-group7 {
                flex-wrap: wrap;
                justify-content: center;
                text-align: center;
            }
            .page-image1 {
                width: 100%;
            }
        }
    </style>
</head>
<body>
    <div class="page-container">
        <div class="page-desktop1">
            <div class="page-group8">
              <img
                alt="image11091"
                src="static/images/background1.jpg"
                class="page-image1"
              />
            </div>
            <div class="page-group7">
              <img
                alt="IMAGE47066removebgpreview21094"
                src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/958d4703-68d0-4182-96e9-ca894ba72fb1/752400ed-d939-4ca9-b9dc-ead0832ce27a?org_if_sml=13656"
                class="page-image47066removebgpreview2"
              />
              <span class="page-text"><span>PDD</span></span>
              <span class="page-text02"><span>Home</span></span>
              <span class="page-text04"><span>About</span></span>
              <span class="page-text06"><span>Help</span></span>
            </div>
            <div class="page-group6">
              <span class="page-text08"><span>FarmExpert</span></span>
              <img
                alt="IMAGE47066removebgpreview11091"
                src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/958d4703-68d0-4182-96e9-ca894ba72fb1/c0bfdbc6-3bde-4dfd-9af6-7f6df1348096?org_if_sml=112668"
                class="page-image47066removebgpreview1"
              />
              <span class="page-text10">
                <span>
                  Plant Disease Detection is used to detect the Unhealthy Realidon of
                  Plants &amp; Classify the Leaf
                </span>
              </span>
              <img
                alt="Rectangle11091"
                src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/958d4703-68d0-4182-96e9-ca894ba72fb1/c95c816f-7577-4f3e-a90a-ddf730c9af92?org_if_sml=11074"
                class="page-rectangle1"
              />
              <span class="page-text12"><span>Start</span></span>
            </div>
        </div>
    </div>
</body>
</html>
