.mac-book-air1-mac-book-air1 {
    width: 100%;
    height: 840px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
    background-color: rgba(255, 255, 255, 1);
  }
  .mac-book-air1-group8 {
    top: 4px;
    left: 4px;
    width: 1280px;
    height: 832px;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    margin-right: 0;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
    flex-direction: row;
    justify-content: flex-start;
    background-color: transparent;
  }
  .mac-book-air1-image1 {
    top: 0px;
    left: 0px;
    width: 1280px;
    height: 832px;
    position: absolute;
    border-color: transparent;
  }
  .mac-book-air1-group6 {
    top: 233px;
    left: 229px;
    width: 856px;
    height: 424px;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    margin-right: 0;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
    flex-direction: row;
    justify-content: flex-start;
    background-color: transparent;
  }
  .mac-book-air1-text {
    top: 20px;
    left: 95px;
    color: rgba(255, 255, 255, 1);
    width: 702px;
    height: auto;
    position: absolute;
    font-size: 96px;
    align-self: auto;
    font-style: Extra Light;
    text-align: center;
    font-family: Inter;
    font-weight: 300;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .mac-book-air1-image47066removebgpreview1 {
    top: 24px;
    left: 59px;
    width: 132px;
    height: 111px;
    position: absolute;
    border-color: transparent;
    border-radius: 231px;
  }
  .mac-book-air1-text02 {
    top: 188px;
    color: rgba(255, 255, 255, 1);
    width: 856px;
    height: auto;
    position: absolute;
    font-size: 24px;
    align-self: auto;
    font-style: Extra Light;
    text-align: center;
    font-family: Inter;
    font-weight: 300;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .mac-book-air1-container1 {
    top: 353px;
    left: 290px;
    width: 268px;
    height: 71px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-direction: row;
    justify-content: flex-start;
  }
  .mac-book-air1-rectangle1 {
    top: 0px;
    left: 0px;
    width: 268px;
    height: 71px;
    position: absolute;
    border-color: transparent;
    border-radius: 20px;
  }
  .mac-book-air1-text04 {
    top: 14px;
    left: 73px;
    color: rgba(255, 255, 255, 1);
    width: 129px;
    height: auto;
    position: absolute;
    font-size: 36px;
    align-self: auto;
    font-style: Extra Light;
    text-align: center;
    font-family: Inter;
    font-weight: 300;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .mac-book-air1-group7 {
    top: 28px;
    left: 42.000003814697266px;
    width: 1094px;
    height: 84.01390075683594px;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    margin-right: 0;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
    flex-direction: row;
    justify-content: flex-start;
    background-color: transparent;
  }
  .mac-book-air1-image47066removebgpreview2 {
    top: 6px;
    left: 12px;
    width: 58px;
    height: 65px;
    position: absolute;
    border-color: transparent;
    border-radius: 231px;
  }
  .mac-book-air1-text06 {
    top: 12px;
    left: 75px;
    color: rgba(13, 91, 11, 1);
    width: 80px;
    height: auto;
    position: absolute;
    font-size: 36px;
    align-self: auto;
    font-style: Extra Light;
    text-align: center;
    font-family: Inter;
    font-weight: 300;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .mac-book-air1-text08 {
    top: 18px;
    left: 625px;
    color: rgba(0, 0, 0, 1);
    width: 144px;
    height: auto;
    position: relative;
    font-size: 36px;
    align-self: auto;
    font-style: Extra Light;
    text-align: center;
    font-family: Inter;
    font-weight: 300;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .mac-book-air1-text10 {
    top: 18px;
    left: 812px;
    color: rgba(0, 0, 0, 1);
    width: 127px;
    height: auto;
    position: absolute;
    font-size: 36px;
    align-self: auto;
    font-style: Extra Light;
    text-align: center;
    font-family: Inter;
    font-weight: 300;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .mac-book-air1-text12 {
    top: 17px;
    color: rgba(0, 0, 0, 1);
    right: 0px;
    width: 110px;
    height: auto;
    position: absolute;
    font-size: 36px;
    align-self: auto;
    font-style: Extra Light;
    text-align: center;
    font-family: Inter;
    font-weight: 300;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  body
  {
    left: auto;
    right: auto;
    top: auto;
    bottom: auto;
  }
  